# dependencies
/node_modules

# testing
/coverage

# production
/dist

# misc
.DS_Store
.env
.env.test
.env.production

# IDE
/.idea
*.iml
.vscode/

# TypeScript
.tsbuildinfo

# TypeORM
ormconfig.json


# Nodemon
nodemon.json

# ESLint
.eslintrc
